.result-container {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    border: none;
    height: 90vh;
    width: 25%;
    margin: 10px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 22px;
    justify-content: center;
}

.result-smallcontainer {
    padding: 5px;
    display: flex;
    align-items: center;
}

.result-whitebox {
    background-color: white;
    border: 1px solid lightgray;
    width: 10vw;
    height: 25px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.result-inputbox {
    background-color: white;
    border: 1px solid lightgray;
    width: 10vw;
    height: 30px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

Button.result-button {
    width: 100px;
    height: 30px;
}

.result-table {
    font-size: 5px;
}

.result-table tbody tr:hover {
    background-color: #e7f5ff;
}

.result-secondcontainer {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    border: none;
    height: 90vh;
    width: 70%;
    margin: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 22px;
}

.result-toptable {
    width: 95%;
    height: 40%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.result-toptablecol {
    background-color: rgba(54, 162, 235, 0.5);
}

.result-toptablecol2 {
    background-color: rgba(255, 159, 64, 0.7);
}

.result-toptablecol thead > tr > th {
    background-color: #e9ecef;
}

.result-toptablecol tbody > tr:hover {
    background-color: #e7f5ff;
}

.result-height {
    height: 65%;
}

.result-imgbox {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    border: none;
    width: 95%;
    height: 25vh;
    overflow-x: auto;
}

.result-buttonbox {
    margin-top: 10px;
    width: 95%;
}

.result-color {
    background-color: #e7f5ff;
}