.title{
  margin-left: 1.2em;
  margin-top: 0.7em;
  font-weight:bold;
  border-bottom: solid;
  width: 11em;
  text-align: center;
  padding: 4px 2px;
  font-size: 27px;
}

.menu{
  margin: 1.2em;
  width: 60%;
  margin-top: 1.2em;
}

.all-component{
  /* height: 1080px; */
  height: 90vh;

}

/* Left Component */
.left-component{
  width: 80em;
  margin-left: 1.2em;

}

/* 1. 환자 검색 컴포넌트 */
.left-component-top{
  margin-bottom: 1.2em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search{
  background-color:white;
  padding: 1em;
  border-radius: 5px;
  border-bottom: none;
}
.search-box{
  padding: 0.2em;
  padding-top: 0.4em;
  font-size: 15px;
  margin-right: 0.3em;
}
.search-input{
  margin-right: 1em;
  padding-left: 0.5em;
}
.search-btn{
  width: 30%;
  text-align: right;
  margin-left: 4em;
}

.search-result{
  background-color:#f8f9fa;
  padding: 1em;
  border-radius: 5px;
  height: 26em;
}


/* 공통 */
.pager{
  text-align: center;
}
.table-header{
  background-color: #e9ecef;
  color: black;
  text-align: center;
  font-size: 16px;
  height: 50px;
  align-items: center;

}
.table-body{
  text-align: center;
  font-size: 16px;
}
.table-body:hover{
  background-color: #e7f5ff;
}

/* 2. 진료자 리스트 컴포넌트 */
.patientlist{
  font-weight:bold;
  width: 6em;
  padding: 4px 2px;
  font-size: 20px;
}

/* Right Component */
.right-component{
  width: 38em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* 3. 환자 상세 정보 컴포넌트  */
.patient-detail{
  background-color: #dee2e6;
  border-radius: 7px;
  padding: 0.1em;
  /* height: 74vh; */
  height: 100%;
}
.patient-detail-top{
  margin-top: 0.8em;
  margin-left: 1em;
  font-size: 22px; 
  font-weight:bold;
}
.patient-detail-bottom{
  background-color: #f8f9fa;
  /* border: solid 0.5px; */
  border-radius: 5px;
  margin: 1.6em;
  padding: 1.3em;
  height: 87%;
  font-size: 13px;
}

.form-span{
  font-size: 16px;
  padding: 0.2em;
  margin-right: 1em;
  width: 7em;
}
.form-input{
  padding: 0.6em;
  background-color: #f7f7f8;
  width: 20em;
  border: solid 0.7px;
}
.form-record{
  padding: 1em;
}
.form-btn{
  margin-top: 2.3em;
  margin-left: 23em;
}
.form-btn-1{
  width: 7em;
}

Button.custom-btn{
  width: 6em;
}

Button.custom-btn-send{
  width: 12em;
}

.left-component-bottom {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}