.camera {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.camera-container {
  position: absolute;
  /* width: 180px; */
  /* height: 50vh; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
