/*------------------공통 컴포넌트 속성------------*/
.diagnosis-component-background{
    border: 1px solid black;
    background-color: white;
}
.diagnosis-table-header{
    background-color: #B3BCE3;
    text-align: center;
}
.diagnosis-table-body{
    text-align: center;
}
.diagnosis-table{
    width: 93%;
    border-bottom: 0.5px solid rgb(209, 207, 207);
}
.diagnosis-button{
    display: inline;
}
/*------------------환자 리스트 컴포넌트--------------------*/

/*환자 리스트 컴포넌트 크기*/
.diagnosis-patient-widthAndHeight{  
    width: 440px;
    height: 450px;
}
/*------------------증상 검색 컴포넌트----------------------*/

/*증상 검색 컴포넌트 크기*/
.diagnosis-symptom-widthAndHeight{ 
    width: 770px;
    height: 450px;
    /* width: 30vw;
    height: 100%; */
}
/*증상 검색 input 크기*/
.diagnosis-symptom-input{
    width: 60%;
    height: 40px;
}
/*--------------------진단 검사 목록 컴포넌트----------------*/

/*진단 검사 목록 타이틀 간격*/
.diagnosis-checkList-titleInterval{ 
    margin-left: 40px;
    display: inline;
} 
/*진단 검사 목록 테이블 간격*/
.diagnosis-checkList-tableInterval{ 
    margin-left: 40px;
    
} 
/*진단 검사 목록 버튼 간격 및 크기*/
.diagnosis-checkList-button{ 
    width: 10%;
    margin-left: 86%;
    margin-bottom: 1%
} 


/*--------------------약품 처방 목록 컴포넌트----------------*/
.diagnosis-medicine-widthAndHeight{  
    width: 654px;
    height: 410px;
}
.diagnosis-medicine-button{
    margin-left: 64%;
}
.diagnosis-medicine-input{
    width: 30%;
}

/*--------------------증상 및 소견, 환자 검색 컴포넌트----------------*/
.diagnosis-opinionAndSearch-widthAndHeight{  
    width: 654px;
    height: 435px;
}
.diagnosis-opinionAndSearch-title{
    margin-left: 2%;
}
.diagnosis-opinionAndSearch-date{
    margin-left: 465px;
}
.diagnosis-opinionAndSearch-tableInterval{
    margin-top: 10px;
    margin-left: 20px;
}
.diagnosis-opinionAndSearch-dateTable{
    text-align: center;
}
.diagnosis-opinionAndSearch-state{
    text-align: center;
}
.diagnosis-opinionAndSearch-button{
    margin-left: 65%;
}
.diagnosis-opinionAndSearch-chart{
    text-align: center;
}

/*-------------------환자 검색 컴포넌트---------------------------*/
.diagnosis-searchPatients-input{
    
    margin-left: 48.5%;
    width: 150px;
}
