.medicine {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8000;
}

.modal-container {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.medicine-input {
  border: none;
  border-bottom: 1px solid;
}

.medicine-input:focus {
  outline:none;
}



Button.medicine-btn {
  width: 3rem;
  height: 2rem;
}

.ant-th :global(.ant-table-thead > tr > th) {
  /* background-color: #f3d9fa; */
  background-color: rgba(201, 203, 207, 0.5);
  text-align: center;
  font-weight: bold;
}