/* Index Component */
.parent-component{
  height: 100%;
}

/* Left Component */
.left-component{ 
  /* 달력 큰 테이블 */
  width: 70%;
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  /* padding:2em; */
}



/* Right Component */
.right-component{
  width: 30%;
  margin: 2em;
  /* background-color: blue; */
  align-items: center;
}

.right-component-top{
  margin: 3em;
  border-radius: 7px;
  padding: 0.1em;
  background-color: #dee2e6;;
}

.form-subject{
  margin-top: 0.5em;
  margin-left: 0.8em;
  font-size: 27px; 
  font-weight:bold;
}

.reserve-form{
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 2em;
  margin: 1em;
}


.right-component-bottom{
  margin: 2em;
  border: solid 2px;
  padding: 2em;

  /* background-color: yellow; */
}

Button.custom-btn{
  /* padding: 1em; */
  width: 6em;
}

Button.close-btn{
  width: 2.3em;
  height: 2.3em;
  font-size: 15px;
}