/* Index Component */
.parent-component{
  /* background-color: red; */
  height: 100%;
}

/* Left Component */
.left-component{ 
  /* 달력 큰 테이블 */
  width: 70%;
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  /* background-color: yellow; */
  /* padding:2em; */
}

/* Right Component */
.right-component{
  width: 30%;
  margin: 2em;
  /* background-color: blue; */
  align-items: center;
}

.right-component-top{
  margin: 3em;
  /* background-color: green; */
}

.form-subject{
  padding: 0.5em;
  font-size: 1.8em;
  font-weight:bold;
  /* background-color: yellow; */

}
.reserve-form{
  border: solid 2px;
  padding: 2em;

}

.right-component-bottom{
  margin: 2em;
  border: solid 2px;
  padding: 2em;

  /* background-color: yellow; */
}
