.teststate-frame {
  margin: 8px 4px;
}

.card {
  height: calc(100vh - 16px);
}

/* 차트부분 */
.chart {
  width: 0;
  height: 25vh;
  text-align: center;
}

.teststate-table {
  margin-top: 2rem;
}

.teststate-lab {
  margin-top: 4rem;
}

.teststate-patient {
  font-size: 1.5rem;
}

/* 검사대기/진료대기  전체/대기/검사중/완료 부분 */
.checked {
  color: blue;
}

