/* 전체 화면크기 */
/* .whole-frame {
  height: 100vh;
} */


.teststate-frame {
  /* margin: 8px 4px; */
}

/* Clock */
.clock {
  background-color: rgba(201, 203, 207, 0.3);
  font-weight: bold;
}

/* testState card */
.card {
  height: calc(100vh - 72px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* 차트부분 */
.chart {
  width: 0;
  height: 25vh;
  text-align: center;
}

.teststate-table {
  margin-top: 1rem;
  width: 100%;
}

.teststate-lab {
  margin-top: 4rem;
}

.teststate-patient {
  font-size: 1.5rem;
}

/* 검사대기/진료대기  전체/대기/검사중/완료 부분 */
.focus {
  font-weight: bold;
}

.focus::before {
  background-image: url("/src//images//check/check-mark.png");
  content: "";
  display: inline-block;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  text-align: center;
}

.font-size {
  font-size: 14px;
}

/* ant-table */
.ant-th :global(.ant-table-thead > tr > th) {
  background-color: rgba(201, 203, 207, 0.3);
  text-align: center;
  font-weight: bold;
}

.ant-tbody :global(.ant-table-cell) {
  text-align: center;
}

/* LabTable */
.lab-th {
  background-color: rgba(201, 203, 207, 0.3);
}

.flex-width {
  padding: 4px 4px;
}

.click-color {
  background-color: #d0ebff;
}









